<div class="container">
    <div style="margin-bottom: 20px ;">
        <button type="button" routerLink="/dashboard" mat-flat-button color="primary">
            <mat-icon>arrow_back</mat-icon>
            Dasboard
        </button>
    </div>
    <p class="mat-headline-5">
        Activity Status : {{data.at(-1)?.activity_status}}
    </p>
    <app-acceleration-chart [accelerationData]="data"></app-acceleration-chart>
    <app-temperature-chart [temperatureData]="data"></app-temperature-chart>
    <app-humidity-chart [humidityData]="data"></app-humidity-chart>
</div>