<div class="mr-4 mt-2" align="end">
    <div class="flex flex-row gap-2 justify-end items-center">
        <ng-container *ngIf="isOnline; else offline">
            <div class="w-3 h-3 rounded-full bg-green-500"></div>
            <p class="!font-medium !m-0">Device Online</p>
        </ng-container>
        <ng-template #offline>
            <div class="w-3 h-3 rounded-full bg-red-500"></div>
            <p class="!font-medium !m-0">Device Offline</p>
        </ng-template>
    </div>
</div>
<router-outlet></router-outlet>